<div style="text-align: center;">
    <h1>Bienvenido al sistema de GAPCO</h1>
    <p>Gesti贸n de Acreditaci贸n del Programa CONAIC</p>
    <br>
    <p>Has iniciado sesi贸n</p>

    <%= link_to  "Cerrar Sesi贸n", destroy_user_session_path, method: :delete %>

</div>