<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Tiene una nueva alerta en GAPCO</h1>
        <p>
            <%= @alert.content %>
        </p>
        <p>
            La alerta expira: <%=@alert.expiration%>
        </p>
    </body>
</html>