 <tr id = "alert_<%= alert.id %>">
        <td colspan="2"><%=alert.content%>
        <br>
        <b>Fecha límite: <%=alert.expiration%></b>
        
        </td>
        <th>
            <strong>No se pudo enviar correo</strong>
        </th>
    </tr>