.tile {
  display: inline-block;
  position: relative;
  width: 12em; height: 12em;
}
.selectable-tile{
  cursor: pointer;
  transition: 0.3s;
}
.tile img {
  border-radius: 3px;
  position: absolute;
  top: 50%; left: 50%;
  width: auto; height: auto;
  max-width: 100%; max-height: 100%;
  transform: translate(-50%, -50%);
}
.img-overlay {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  transition: 0.3s ease;
  opacity: 0;
  color: white;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}
div.tile:hover .img-overlay{
  opacity:0.8;
}
